#pop{
display:none;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;/* Esto es para que esté por encima */

background-color: grey;

}


#pop{
  max-width: 600px;
  height: 300px;  
  background-color: crimson;
  margin: auto;
  position: absolute;
  top: 0;
bottom: 0;
left: 0;
right: 0;
}

#restoPagina{
height: 1000vh;
}